#navbar {
    background: white;
    margin: auto;
}

.jumbotron {
    padding-top: 50px;
}
#header {
    background-color: whitesmoke;
    height: 250px;
    margin: 15px 120px;
    margin-top: 80px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

#content {
    margin-bottom: 10px;
}

.nav-link:focus {
    background-color: rgb(175, 171, 171);
}