body {

    font-family: 'Times New Roman', Times, serif;
    background-color: orange;
    color: black;
}

iconify-icon {
    font-size: 50px;
}


input {
    padding: 6px 100px;
    border-radius: 10px;
    border: none;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.8);
}

button {
    box-shadow: 3px 3px 3px rgba(0,0,0,0.8);
    width: 140px;
}

.card {
    background-color: aquamarine;
    border-radius: 10px;
    margin: 50px;
    margin-top: 20px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.8);
}


